<div *ngIf="unfinishedTodos && unfinishedTodos.length > 0">
    <div *ngFor="let todo of unfinishedTodos">
        <a> {{todo.title}} </a>
    </div>
</div>
<div *ngIf="!unfinishedTodos?.length">
    empty
</div>