<header>
    <img src="img/angular.svg"/>

    <h1> {{ title }} </h1>
</header>
<main>
    <todos></todos>
</main>
<nav>
    <a routerLink="/todo-finished-list" [routerLinkActive]="['active-link']">FinishedTodo</a>
    <a routerLink="/todo-unfinished-list"[routerLinkActive]="['active-link']">UnFinishedTodo</a>
</nav>
<router-outlet></router-outlet>