header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1976D2;
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    color: white;
    background-color: forestgreen
}

header img {
    width: 50px;
}

header h1 {
    margin: 0 0 0 10px;
    font-weight: 400;
}

main {
    height: 0px;
    display: flex;
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.active-link {
    color: green;
    text-decoration: solid;
}