<div class="item-details" *ngIf="todo">
    <b>details:</b>
    <ul class="details-title">
        <li>{{todo.id}}</li>
        <li>{{todo.title}}</li>
        <li>{{todo.completed}}</li>
        <li>{{todo.description}}</li>
    </ul>
</div>