<form class="todo-form" (ngSubmit)="create();" #todoForm="ngForm">
    <input name="title" [(ngModel)]="newTodoTitle" type="text" placeholder="Что нужно сделать?" required/>
    <button [disabled]="todoForm.form.invalid" type="submit">Добавить</button>
</form>