:host {
    padding: 1em;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

:host .checkbox {
    margin-right: .25em;
}

:host-context(.completed) .title {
    text-decoration: line-through;
}

:host-context(.completed) .title,
:host-context(.completed) .material-icons {
    color: lightgray;
}

:host input {
    flex: 1;
    margin-right: 1rem;
}

:host .actions {
    margin-left: auto;
    /* opacity: 0;*/
    transition: all .2s;
}