<button class="checkbox icon" (click)="toggle(todo)">
    <i class="material-icons" [textContent]="todo.completed ? 'check_box' : 'check_box_outline_blank'"></i>
</button>

<span class="title"> {{todo.title}}</span>

<div class="actions">
    <button class="delete icon" (click)="delete()">
        <i class="material-icons">delete</i>
    </button>
</div>