<todo-form (created)="onTodoCreated($event)"></todo-form>

<section class=" todo-list">
    <todo-list [todos]="todos" (updated)="onTodoUpdated($event)" (deleted)="onTodoDeleted($event)"></todo-list>
</section>
<todo-search></todo-search>